P_UID=501
P_GID=20
RESTART=always
VIRTUAL_HOST=cache-warm.yourdomain.com
LETSENCRYPT_HOST=cache-warm.yourdomain.com
LETSENCRYPT_EMAIL=support@yourdomain.com
COMPOSE_PROJECT_NAME=cache-warm.yourdomain.com